/* Reset /////////////////////////////////////////////////////////////////////*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	line-height: 1.6;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* Container ////////////////////////////////////////////////////////////////////*/
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;
	color: #333;
}

/* Prelude /////////////////////////////////////////////////////////////////////*/
#mask-up {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;
	text-align: center;
	background-color: #e9e9e9;
	padding: 50px;
	display: none;
}

#mask-up h1 {
	font-family: 'Major Mono Display', monospace;
	font-size: 5rem;
}

#mask-up h1:hover,
#enter:hover {
	cursor: pointer;
}

#enter:hover {
	background-color: #d6d6d6;
}

#mask-up p,
#mask-up #license-icon,
#enter {
	/* display: none; */
}

#mask-up #intro {
	font-weight: bold;
}

#enter {
	border: #1d5eb9 1px solid;
	padding-left: 7px;
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.7rem;
	font-size: 2rem;
	color: #1d5eb9;
	font-weight: bold;
}

#intro #total-case,
#intro #total-death {
	color: #af2d2d;
}

#mask-up #credit {
	padding-bottom: 10px;
	font-size: 1.4rem;
}

#credit a {
	text-decoration: none;
	color: #1d5eb9;
	font-weight: bold;
}

#license-icon i {
	padding: 0 2px;
	color: #1d5eb9;
}

/* Interface ////////////////////////////////////////////////////////////////////*/
#interface {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.8rem;
	text-align: center;
	background-color: #e9e9e9;
	padding: 50px;
	/* display: none; */
}

#interface h4 {
	font-family: 'Major Mono Display', monospace;
	font-size: 3rem;
}

h4:hover {
	cursor: pointer;
}

#quote {
	color: #999;
	font-style: italic;
}

/* Navigation //////////////////////////////////////////////////////////////////*/
nav {
	display: none;
}
